<!-- Herencia -->
{% extends 'core/index.html' %}

<!-- Título -->
{% block title %}Acerca de{% endblock %}

<!-- Cargar datos -->
{% load static %}

<!-- Contenido -->
{% block content %}
<div class="site-section border-bottom" data-aos="fade">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6">
        <div class="block-16">
          <figure>
            <img
              src="{% static 'core/images/about.jpg' %}"
              alt="Image placeholder"
              class="img-fluid rounded"
            />
          </figure>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <div class="site-section-heading pt-3 mb-4">
          <h2 class="text-black">Sobre Nosotros</h2>
        </div>
        <p>
          En FútbolManía, entendemos y compartimos la pasión por el fútbol en
          todas sus formas. Somos mucho más que una tienda en línea de venta de
          zapatos, ropa y accesorios; somos el destino definitivo para los
          fanáticos del deporte más emocionante del mundo.
        </p>
        <p>
          Ya seas un jugador amateur, un aficionado leal a tu equipo o
          simplemente alguien que disfruta del estilo de vida futbolero,
          FútbolManía tiene algo para todos. Únete a nosotros mientras
          celebramos la emoción, la camaradería y la pasión que el fútbol
          inspira en todo el mundo.
        </p>
        <p>¡Viste tu pasión con nosotros!</p>
      </div>
    </div>
  </div>
</div>

<!-- Banner informativo (Repetitivo) -->
<div class="site-section site-section-sm site-blocks-1">
  <div class="container">
    <div class="row">
      <div
        class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4"
        data-aos="fade-up"
        data-aos-delay=""
      >
        <div class="icon mr-4 align-self-start">
          <span class="icon-truck"></span>
        </div>
        <div class="text">
          <h2 class="text-uppercase">Envío Gratis</h2>
          <p>
            En tu primera compra consigue un envío totalmente gratis. Aplican
            condiciones a ciertos lugares.
          </p>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="icon mr-4 align-self-start">
          <span class="icon-refresh2"></span>
        </div>
        <div class="text">
          <h2 class="text-uppercase">Reembolsos Gratis</h2>
          <p>
            Si tu compra tiene un desperfecto de fábrica o no es lo que
            esperabas, tranquilo puedes tener un reembolso.
          </p>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="icon mr-4 align-self-start">
          <span class="icon-help"></span>
        </div>
        <div class="text">
          <h2 class="text-uppercase">Atención Al Cliente</h2>
          <p>
            Si tienes inquietudes respecto al sitio o alguna compra, háznoslo
            saber en la sección de Contacto.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
