<!-- Herencia -->
{% extends 'core/index.html' %}

<!-- Título -->
{% block title %}Productos{% endblock %}

<!-- Cargar datos -->
{% load static %}

<!-- Contenido -->
{% block content %}
<div class="site-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-9 order-2">
        <div class="row">
          <div class="col-md-12 mb-5">
            <div class="float-md-left mb-4">
              <h2 class="text-black h5">Comprar Todo</h2>
            </div>
            <div class="d-flex">
              <div class="dropdown mr-1 ml-md-auto">
                <button
                  type="button"
                  class="btn btn-secondary btn-sm dropdown-toggle"
                  id="dropdownMenuOffset"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Actuales
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                  <a class="dropdown-item" href="#">Zapatos</a>
                  <a class="dropdown-item" href="#">Ropa</a>
                  <a class="dropdown-item" href="#">Accesorios</a>
                </div>
              </div>
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-secondary btn-sm dropdown-toggle"
                  id="dropdownMenuReference"
                  data-toggle="dropdown"
                >
                  Referencia
                </button>
                <div
                  class="dropdown-menu"
                  aria-labelledby="dropdownMenuReference"
                >
                  <a class="dropdown-item" href="#">Relevancia</a>
                  <a class="dropdown-item" href="#">Nombre, A a Z</a>
                  <a class="dropdown-item" href="#">Nombre, Z a A</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Precio, bajo a alto</a>
                  <a class="dropdown-item" href="#">Precio, alto a bajo</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-5">
          <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
            <div class="block-4 text-center border">
              <figure class="block-4-image">
                <a href="#"
                  ><img
                    src="{% static 'core/images/destacado_1.png' %}"
                    alt="Image placeholder"
                    class="img-fluid"
                /></a>
              </figure>
              <div class="block-4-text p-1">
                <h3><a href="#">NIKE AIR MAX ALPHA TRAINER 5</a></h3>
                <p class="mb-0">Zapatos Fútbol Hombre</p>
                <p class="text-primary font-weight-bold">$ 129.90</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
            <div class="block-4 text-center border">
              <figure class="block-4-image">
                <a href="#"
                  ><img
                    src="{% static 'core/images/destacado_2.png' %}"
                    alt="Image placeholder"
                    class="img-fluid"
                /></a>
              </figure>
              <div class="block-4-text pb-3 pt-3">
                <h3><a href="#">ADIDAS GRAPHIC</a></h3>
                <p class="mb-0">Tanks/Tops Entrenar Mujer</p>
                <p class="text-primary font-weight-bold">$ 43.90</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
            <div class="block-4 text-center border">
              <figure class="block-4-image">
                <a href="#"
                  ><img
                    src="{% static 'core/images/destacado_3.png' %}"
                    alt="Image placeholder"
                    class="img-fluid"
                /></a>
              </figure>
              <div class="block-4-text pb-3 pt-3">
                <h3><a href="#">ADIDAS TIRO 23 LEAGUE</a></h3>
                <p class="mb-0">Bags Fútbol Mujer/Hombre</p>
                <p class="text-primary font-weight-bold">$ 71.90</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
            <div class="block-4 text-center border">
              <figure class="block-4-image">
                <a href="#"
                  ><img
                    src="{% static 'core/images/destacado_4.png' %}"
                    alt="Image placeholder"
                    class="img-fluid"
                /></a>
              </figure>
              <div class="block-4-text pb-3 pt-3">
                <h3><a href="#">ADIDAS PREDATOR LEAGUE</a></h3>
                <p class="mb-0">Protecciones Fútbol Hombre/Mujer</p>
                <p class="text-primary font-weight-bold">$ 51.90</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
            <div class="block-4 text-center border">
              <figure class="block-4-image">
                <a href="#"
                  ><img
                    src="{% static 'core/images/destacado_5.png' %}"
                    alt="Image placeholder"
                    class="img-fluid"
                /></a>
              </figure>
              <div class="block-4-text pb-3 pt-3">
                <h3><a href="#">ADIDAS OCEAUNZ</a></h3>
                <p class="mb-0">Pelotas Fútbol Mujer/Hombre</p>
                <p class="text-primary font-weight-bold">$ 35.90</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
            <div class="block-4 text-center border">
              <figure class="block-4-image">
                <a href="#"
                  ><img
                    src="{% static 'core/images/producto_1.png' %}"
                    alt="Image placeholder"
                    class="img-fluid"
                /></a>
              </figure>
              <div class="block-4-text pb-3 pt-3">
                <h3><a href="#">EVERLAST MERGE</a></h3>
                <p class="mb-0">Licras/Leggins Entrenar Mujer</p>
                <p class="text-primary font-weight-bold">$ 49.90</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
            <div class="block-4 text-center border">
              <figure class="block-4-image">
                <a href="#"
                  ><img
                    src="{% static 'core/images/producto_2.png' %}"
                    alt="Image placeholder"
                    class="img-fluid"
                /></a>
              </figure>
              <div class="block-4-text p-1">
                <h3><a href="#">PUMA FUTURE ULTIMATE FG/AG</a></h3>
                <p class="mb-0">Zapatos Fútbol Hombre</p>
                <p class="text-primary font-weight-bold">$ 219.90</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
            <div class="block-4 text-center border">
              <figure class="block-4-image">
                <a href="#"
                  ><img
                    src="{% static 'core/images/producto_3.png' %}"
                    alt="Image placeholder"
                    class="img-fluid"
                /></a>
              </figure>
              <div class="block-4-text p-1">
                <h3><a href="#">UNDER ARMOUR UA RUN ANYWHERE</a></h3>
                <p class="mb-0">Chompa Correr Hombre</p>
                <p class="text-primary font-weight-bold">$ 119.90</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
            <div class="block-4 text-center border">
              <figure class="block-4-image">
                <a href="#"
                  ><img
                    src="{% static 'core/images/producto_4.png' %}"
                    alt="Image placeholder"
                    class="img-fluid"
                /></a>
              </figure>
              <div class="block-4-text p-1">
                <h3><a href="#">ADIDAS CALENTAMIENTO REAL MADRID</a></h3>
                <p class="mb-0">Camiseta Fútbol Hombre</p>
                <p class="text-primary font-weight-bold">$ 84.90</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-12 text-center">
            <div class="site-block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Sección izquierda -->
      <div class="col-md-3 order-1 mb-5 mb-md-0">
        <div class="border p-4 rounded mb-4">
          <h3 class="mb-3 h6 text-uppercase text-black d-block">Categorías</h3>
          <ul class="list-unstyled mb-0">
            <li class="mb-1">
              <a href="#" class="d-flex"
                ><span>Zapatos</span>
                <span class="text-black ml-auto">(2,220)</span></a
              >
            </li>
            <li class="mb-1">
              <a href="#" class="d-flex"
                ><span>Ropa</span>
                <span class="text-black ml-auto">(2,550)</span></a
              >
            </li>
            <li class="mb-1">
              <a href="#" class="d-flex"
                ><span>Accesorios</span>
                <span class="text-black ml-auto">(2,124)</span></a
              >
            </li>
          </ul>
        </div>

        <div class="border p-4 rounded mb-4">
          <div class="mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">
              Filtrar por Precio
            </h3>
            <div id="slider-range" class="border-primary"></div>
            <input
              type="text"
              name="text"
              id="amount"
              class="form-control border-0 pl-0 bg-white"
              disabled=""
            />
          </div>

          <div class="mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Size</h3>
            <label for="s_sm" class="d-flex">
              <input type="checkbox" id="s_sm" class="mr-2 mt-1" />
              <span class="text-black">Pequeño (2,319)</span>
            </label>
            <label for="s_md" class="d-flex">
              <input type="checkbox" id="s_md" class="mr-2 mt-1" />
              <span class="text-black">Mediano (1,282)</span>
            </label>
            <label for="s_lg" class="d-flex">
              <input type="checkbox" id="s_lg" class="mr-2 mt-1" />
              <span class="text-black">Grande (1,392)</span>
            </label>
          </div>

          <div class="mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Color</h3>
            <a href="#" class="d-flex color-item align-items-center">
              <span
                class="bg-danger color d-inline-block rounded-circle mr-2"
              ></span>
              <span class="text-black">Rojo (2,429)</span>
            </a>
            <a href="#" class="d-flex color-item align-items-center">
              <span
                class="bg-success color d-inline-block rounded-circle mr-2"
              ></span>
              <span class="text-black">Verde (2,298)</span>
            </a>
            <a href="#" class="d-flex color-item align-items-center">
              <span
                class="bg-info color d-inline-block rounded-circle mr-2"
              ></span>
              <span class="text-black">Azul (1,075)</span>
            </a>
            <a href="#" class="d-flex color-item align-items-center">
              <span
                class="bg-primary color d-inline-block rounded-circle mr-2"
              ></span>
              <span class="text-black">Violeta (1,075)</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Categorías (Repetitivo) -->
<div class="site-section site-blocks-2">
  <div class="container">
    <div class="row">
      <div
        class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0"
        data-aos="fade"
        data-aos-delay=""
      >
        <a class="block-2-item" href="#">
          <figure class="image">
            <img
              src="{% static 'core/images/categoria_1.jpg' %}"
              alt=""
              class="img-fluid"
              style="height: 520px"
            />
          </figure>
          <div class="text">
            <span class="text-uppercase">Categoría</span>
            <h3>Zapatos</h3>
          </div>
        </a>
      </div>
      <div
        class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0"
        data-aos="fade"
        data-aos-delay="100"
      >
        <a class="block-2-item" href="#">
          <figure class="image">
            <img
              src="{% static 'core/images/categoria_2.png' %}"
              alt=""
              class="img-fluid"
              style="height: 520px"
            />
          </figure>
          <div class="text">
            <span class="text-uppercase">Categoría</span>
            <h3>Ropa</h3>
          </div>
        </a>
      </div>
      <div
        class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0"
        data-aos="fade"
        data-aos-delay="200"
      >
        <a class="block-2-item" href="#">
          <figure class="image">
            <img
              src="{% static 'core/images/categoria_3.jpg' %}"
              alt=""
              class="img-fluid"
              style="height: 520px"
            />
          </figure>
          <div class="text">
            <span class="text-uppercase">Categoría</span>
            <h3>Accesorios</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
