<!-- Herencia -->
{% extends 'core/index.html' %}

<!-- Título -->
{% block title %}Productos{% endblock %}

<!-- Cargar datos -->
{% load static %}

<!-- Contenido -->
{% block content %}
<div class="site-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-9 order-2">
        <div class="row">
          <div class="col-md-12 mb-5">
            <div class="float-md-left mb-4">
              <h2 class="text-black h5">Comprar Todo</h2>
            </div>
            <div class="d-flex">
              <div class="dropdown mr-1 ml-md-auto">
                <button
                  type="button"
                  class="btn btn-secondary btn-sm dropdown-toggle"
                  id="dropdownMenuOffset"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Actuales
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                  {% for product in list_products %}
                  <a
                    class="dropdown-item"
                    href="{% url 'category' product.category.id %}"
                  >
                    {{product.category}}
                  </a>
                  {% endfor %}
                </div>
              </div>
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-secondary btn-sm dropdown-toggle"
                  id="dropdownMenuReference"
                  data-toggle="dropdown"
                >
                  Referencia
                </button>
                <div
                  class="dropdown-menu"
                  aria-labelledby="dropdownMenuReference"
                >
                  <a class="dropdown-item" href="#">Relevancia</a>
                  <a class="dropdown-item" href="#">Nombre, A a Z</a>
                  <a class="dropdown-item" href="#">Nombre, Z a A</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Precio, bajo a alto</a>
                  <a class="dropdown-item" href="#">Precio, alto a bajo</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-5">
          {% for product in list_products %}
          <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
            <div class="block-4 text-center border" style="height: 370px">
              <figure class="block-4-image">
                <img
                  src="{{product.image.url}}"
                  alt="Image placeholder"
                  class="img-fluid"
                  style="height: 220px"
                />
              </figure>
              <div class="block-4-text p-1">
                <h3 class="text-primary">{{product.title}}</h3>
                <p class="mb-0">{{product.category}}</p>
                <p class="text-primary font-weight-bold">$ {{product.price}}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-12 text-center">
            <div class="site-block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Sección izquierda -->
      <div class="col-md-3 order-1 mb-5 mb-md-0">
        <div class="border p-4 rounded mb-4">
          <h3 class="mb-3 h6 text-uppercase text-black d-block">Categorías</h3>
          {% for product in list_products %}
          <ul class="list-unstyled mb-0">
            <li class="mb-1">
              <a href="{% url 'category' product.category.id %}" class="d-flex">
                <span>{{product.category.name}}</span>
              </a>
            </li>
          </ul>
          {% endfor %}
        </div>

        <div class="border p-4 rounded mb-4">
          <div class="mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">
              Filtrar por Precio
            </h3>
            <div id="slider-range" class="border-primary"></div>
            <input
              type="text"
              name="text"
              id="amount"
              class="form-control border-0 pl-0 bg-white"
              disabled=""
            />
          </div>

          <div class="mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Size</h3>
            <label for="s_sm" class="d-flex">
              <input type="checkbox" id="s_sm" class="mr-2 mt-1" />
              <span class="text-black">Pequeño (2,319)</span>
            </label>
            <label for="s_md" class="d-flex">
              <input type="checkbox" id="s_md" class="mr-2 mt-1" />
              <span class="text-black">Mediano (1,282)</span>
            </label>
            <label for="s_lg" class="d-flex">
              <input type="checkbox" id="s_lg" class="mr-2 mt-1" />
              <span class="text-black">Grande (1,392)</span>
            </label>
          </div>

          <div class="mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Color</h3>
            <a href="#" class="d-flex color-item align-items-center">
              <span
                class="bg-danger color d-inline-block rounded-circle mr-2"
              ></span>
              <span class="text-black">Rojo (2,429)</span>
            </a>
            <a href="#" class="d-flex color-item align-items-center">
              <span
                class="bg-success color d-inline-block rounded-circle mr-2"
              ></span>
              <span class="text-black">Verde (2,298)</span>
            </a>
            <a href="#" class="d-flex color-item align-items-center">
              <span
                class="bg-info color d-inline-block rounded-circle mr-2"
              ></span>
              <span class="text-black">Azul (1,075)</span>
            </a>
            <a href="#" class="d-flex color-item align-items-center">
              <span
                class="bg-primary color d-inline-block rounded-circle mr-2"
              ></span>
              <span class="text-black">Violeta (1,075)</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Categorías (Repetitivo) -->
<div class="site-section site-blocks-2">
  <div class="container">
    <div class="row">
      <div
        class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0"
        data-aos="fade"
        data-aos-delay=""
      >
        <a class="block-2-item" href="#">
          <figure class="image">
            <img
              src="{% static 'core/images/categoria_1.jpg' %}"
              alt=""
              class="img-fluid"
              style="height: 520px"
            />
          </figure>
          <div class="text">
            <span class="text-uppercase">Categoría</span>
            <h3>Zapatos</h3>
          </div>
        </a>
      </div>
      <div
        class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0"
        data-aos="fade"
        data-aos-delay="100"
      >
        <a class="block-2-item" href="#">
          <figure class="image">
            <img
              src="{% static 'core/images/categoria_2.png' %}"
              alt=""
              class="img-fluid"
              style="height: 520px"
            />
          </figure>
          <div class="text">
            <span class="text-uppercase">Categoría</span>
            <h3>Ropa</h3>
          </div>
        </a>
      </div>
      <div
        class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0"
        data-aos="fade"
        data-aos-delay="200"
      >
        <a class="block-2-item" href="#">
          <figure class="image">
            <img
              src="{% static 'core/images/categoria_3.jpg' %}"
              alt=""
              class="img-fluid"
              style="height: 520px"
            />
          </figure>
          <div class="text">
            <span class="text-uppercase">Categoría</span>
            <h3>Accesorios</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
